<!-- <app-under-construction></app-under-construction> -->
<div class="container main-container">
    <div class="hero">
        <div class="hero-body">
            <div class="level">
                <div class="level-left">

                    <div class="level-item">
                        <div class="avatar-image-width">
                            <figure class="image is-5by4">
                                <img src="../../assets/Cartoon-Portrait@0.75x - new.jpg">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <div>
                        <div class="block">
                            <h1 class="title is-3">Kristofer Kamweru</h1>
                            <h2 class="title sub is-5">The only creative you'll ever need</h2>
                        </div>
                        <div class="block">
                            <p>I take great pride in my attention to detail</p>
                            <p>Your satisfaction is valuable to me</p>
                        </div>
                    </div>
                </div>
                <div class="level-item">Moar text</div>
            </div>
            
        </div>
    </div>
    
    <tabs>
        <tab tabTitle= "Test1">
            <app-profile></app-profile>
        </tab>
        <tab tabTitle= "Test2">
            <app-resume></app-resume>
        </tab>
    </tabs>
</div>
