div.container.main-container {
    padding-top: 80px;

    div.hero {
        div.hero-body {
            div.level {
                div.level-left{
                    div.level-item {
                        div.avatar-image-width {
                            width: 256px;
                        }
                    }
                }

                .title {
                    text-transform: uppercase;
                }

                .title.sub {
                    text-transform: capitalize;
                }

                color: black;
            }
        }
    }
}