@import "../../main.scss";

.navbar {
    border-bottom: 2px solid $color-black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: darken($color: $color-white, $amount: 2);
}

.navbar a.navbar-item {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-black;
    transition: color 1s ease-out;
    transition: background-color 1s ease-out;
    transition: border-bottom 1s ease-out;
}

.navbar a.navbar-item:hover {
    color: lighten($color: $primary, $amount: 0.4);
    background-color: $color-white;
    border-bottom: 0.5px solid $color-black;
}

.navbar a.navbar-item.no-hover:hover {
    color: $color-black;
    cursor: default;
}

.current-page {
    color: $primary;
}