<div class="container">
    <div class="block">
        <p>I am a photographer, software engineer and all around creative. I earned a degree in Applied Computer Technology and I have a keen interest in photography, cinematography, design, programming and voice acting.</p>
        <p>I am a firm believer in transparency and integrity, and extends these values to my professional and personal ventures.</p>
    </div>
    <div class="block">
        <p>When I'm not working, among other things, I like to spend time with my family, and read.</p>
        <p>Furthermore, travelling to new places exposes new photography opportunities, and more experiences to share with my family.</p>
    </div>
    <div class="block">
        <p> Having grown up in an environment where learning was encouraged, I like to learn new things everyday, particularly around my areas of interest.</p>
        <p>Once in a while, you may spot me playing a few games, particularly strategy games like League of Legends with my friends.</p>
    </div>
</div>



