@charset "utf-8";

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Alice&family=El+Messiri:wght@400;700&family=Saira:wght@400;700&family=Staatliches&display=swap');

// Brand colors
$main-color: #cc4d33;
$alternate-color: #6633CC;


$color-white: #fff;
$color-black: #000;
$color-snow: #F4F4F4;
$color-silver: #CCCCCC;
$color-nickel: #676767;
$color-moon: #999999;
$color-coal: #333333;

// Font vairables
$family-saira: "Saira", sans-serif;
$family-staatliches: "Staatliches", sans-serif;
$family-alice: "Alice", serif;
$family-el-messiri: "El Messiri", sans-serif;

// Update Bulma's global variables
$family-primary: $family-saira;
$family-secondary: $family-staatliches;
$primary: $main-color;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $color-white;


//set some default values