<div class="columns is-gapless">
    <div class="column text-column">
        <div class="block">
            <h1>Creative with a unique vision</h1>
        </div>
        <div class="block">
            <p>My name is Kristofer Kamweru, and I'm here to provide the solutions to all your creative needs</p>
        </div>
    </div>
    <div class="column is-one-third image-column">
        <figure class="image is-5by4">
            <img class="is-rounded" src="../../assets/Cartoon-Portrait@0.75x - new.jpg" alt="Portrait">
        </figure>
    </div>
</div>