@import '../../main.scss';
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fredericka+the+Great&display=swap');

div.bgImage {
    margin: 0;
    padding: 0;
}

div.columns {
    padding-top: 80px;
    color: $color-black;
    font-size: 1.25rem;
    height: max-content;
    width: inherit;

    div.columns.inside-columns {
        padding: 0;
        margin: auto;
        width: auto;

        div.column {
            height: max-content;
            margin: auto;
            padding: 0;
        }
    }
    
    div.column {
        margin: auto;
        background-color: darken($color: $color-white, $amount: 2);
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 5%;
        padding-bottom: 5%;

        .title {
            text-transform: uppercase;
        }

        .highlight {
            color: $primary;
        }
    }
    
    div.column.transparent-dark {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/Cartoon-Portrait@0.75x - new.jpg");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;

        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;

        color: $color-white;
    }

    div.column.transparent {
        background-color: rgba($color: #000000, $alpha: 0);
    }

    

    div.column.title-column {
        text-align: center;
        text-transform: uppercase;
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
        // padding: 0;
        color: $color-black;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            // font-weight: 700;
            font-weight: 400;

            // font-family: 'Libre Barcode 39 Text', cursive;
            // font-family: 'Vast Shadow', cursive;
            // font-family: 'Monoton', cursive;
            // font-family: 'Bungee Shade', cursive;
            font-family: 'Fredericka the Great', cursive;
            
        }

        .scrollIndicator {
            position: absolute;
            bottom: 5%;
            left: 50%;
            padding-bottom: 5%;
            // text-align: center;
        }
    }
}

.card-footer-link:hover {
    color: $primary;
}

@media(max-width: 1023px) {
    .title.is-1 {
        font-size: 2.5rem;
    }

    div.columns {
        div.column.title-column {
            div.scrollIndicator {
                left: 46%;
            }
        }
    }
}
@media(min-width: 1024px) {
    div.bgImage {
        height: 100vh;
        width: 100vw;
        background-image: url("../../assets/Cartoon-Portrait@0.75x - new.jpg");
        background-position: center;
        z-index: -10;
        position: fixed;
    
        
    }
    
    div.columns {
        z-index: 2;
        position: relative;
        width: 100vw;
        
        div.column {
            position: relative;
            align-self: center;
        }
        
        div.column.transparent-dark {
            background-color: rgba($color: #000000, $alpha: 0.4);
            background-image: none;
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
    
}