<div class="bgImage"></div>

<div class="columns is-multiline">
    <div class="column is-12 title-column">
        <div class="block"><h1 class="title is-1">Kristofer Kamweru</h1></div>
        <div class="block"><h3 class="subtitle">A <span class="highlight">creative</span> offering digital solutions for the <span class="highlight">individual</span> or <span class="highlight">organization</span></h3></div>
        
    </div>

    <div class="column is-12 transparent-dark">
        <div class="columns inside-columns">
            <div class="column is-7 transparent">
                <div class="card has-text-centered">
                    <div class="card-content">
                        <p>Want to find out more about me?</p>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item card-footer-link" routerLink="/about">About Me</a>
                        <a class="card-footer-item card-footer-link" routerLink="/about">Resume</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-12">
        <div class="block has-text-centered">
            <h3 class="title is-3">Quality focused</h3>
        </div>
        <div class="block">
            <p>I believe in offering the <span class="highlight">best quality</span> service I can to you, and I aim to reflect this through all my work</p>
            <p>Whether it be in the ideation stage, the actual delivered product, or after-sales service, rest assured that you will be getting the <span class="highlight">very best</span> your money can buy</p>
        </div>
        <div class="block">
            <p>Your <span class="highlight">satisfaction is very important</span> to me. I want you to think of me next time you need something done as well, so I aim to have the best <span class="highlight">from day one</span>. Happy customer, happy life. It may not rhyme but <span class="highlight">it's still true!</span></p>
        </div>
        <div class="block">
            <p>Above and beyond that, I'm also a little bit of a perfectionist. I cannot deliver something I consider to be substandard quality. I want <span class="highlight">the best</span> for you, but I also want to look at what I have made and be proud of it</p>
        </div>
    </div>
    <div class="column is-12 transparent-dark">
        <div class="columns inside-columns">
            <div class="column is-9 transparent">
                <div class="card has-text-centered">
                    <div class="card-content">
                        <p>Need something done? Browse the services catalogue, or reach out with a question and I will get back to you!</p>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item card-footer-link" routerLink="/services">Services</a>
                        <a class="card-footer-item card-footer-link" routerLink="/contact">Reach Out</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-12">
        <div class="block has-text-centered">
            <h3 class="title is-3">
                I look forward to working with you!
            </h3>
        </div>

        <div class="block">
            <p>Thank you for taking the time to visit my online home! Feel free to look around, see what I have prepared for you.</p>
            <p>If you have any questions or comments, feel free to reach out and let me know.</p>
            
        </div>
        <div class="block">
            <p>Should you need to let someone know about me and what I do, simply refer them here and let the site do the talking!</p>
        </div>
        <div class="block">
            <div class="box has-text-centered">
                <p>"The ones who are crazy enough to think they can change the world, are the ones that do."</p>
            </div>
        </div>
    </div>
</div>