<div class="bgImage"></div>

<div class="columns is-multiline">
    <div class="column is-12 title-column">
        <div class="block"><h1 class="title is-1">Kristofer Kamweru</h1></div>
        <div class="block"><h3 class="subtitle">A <span class="highlight">creative</span> offering digital solutions for the <span class="highlight">individual</span> or <span class="highlight">organization</span></h3></div>
        
    </div>

    <div class="column is-11 transparent">more content</div>
    <div class="column is-12">even more content</div>
    <div class="column is-12 transparent">wait for it, more content</div>
    <div class="column is-12">wowzaa</div>
</div>